<h2>Add User: </h2>
<form [formGroup] = "addform" (ngSubmit) = "sendData()">
  <div>
    <label for="username"></label>
    <input type="text" name="username" id="username" class="form-control" formControlName = "username" required>
    <div *ngIf="!addform.controls.username.valid" class="alert alert-danger">
      Please add username
    </div> 
  </div>
  <div>
    <label for="phonenumber"></label>
    <input type="text" name="phonenumber" id="phonenumber" class="form-control" formControlName = "phonenumber" required>
    <div *ngIf="!addform.controls.phonenumber.valid" class="alert alert-danger">
      Please add phonenumber
    </div> 
  </div>
  <br>
  <input type="submit" value="Add user" class="btn btn-primary" [disabled]="!addform.valid" >
</form>
