
<nav class="nav-bar navbar-default">
  <div class="container-fluid">
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active current" [routerLinkActiveOptions]= {exact:true}><a routerLink="">Users</a></li><!--//הדף הראשי שנרצה-->
        <li routerLinkActive="active current" [routerLinkActiveOptions] = {exact:true} ><a routerLink = "/products">products</a></li>
        <li routerLinkActive="active current" [routerLinkActiveOptions] = {exact:true} ><a routerLink = "/login">Login</a></li>
      </ul>
    </div>
  </div>
</nav>

